<!DOCTYPE html>
<html>
  <head>
    <title>QnA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <div><%= link_to "QnA", root_path %></div>

          	<% if user_signed_in? -%>
              <ul>
  							<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
  						</ul>
  					<% else -%>
  						<ul>
  							<li><%= link_to 'Sign up', new_user_registration_path %></li>
  							<li><%= link_to 'Sign in', new_user_session_path %></li>
  						</ul>
  					<% end -%>
      </div>
  </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
